{% import '@Shared/macro/pagination.html.twig' as Pagination %}

{#<header>#}
	{#<p>{{ label_count | trans( {'count' : items | length } ) | title }}</p>#}
	{# Pagination.menu(page, pages, size, items, label_count_word, app.request.get('_route')) #}
{#</header>#}


{%- if items is not empty -%}

	{%- for item in items -%}
		{{ block('item') }}
	{%- endfor -%}

{%- else -%}

	<p>{{ label_empty | trans }}</p>

{%- endif -%}



<footer>
	{{ Pagination.menu(page, pages, size, items, label_count_word, app.request.get('_route')) }}
</footer>

