{% extends template.default %}
{%- block meta -%}
	{{ parent() }}
{%- endblock meta -%}
{%- block title %}ERROR{%- endblock title -%}
{%- block body -%}
{%- embed layout.default -%}
    {%- block content -%}
		<header>
			<h1>{{ status_code }} {{ message }}</h1>
		</header>
    {%- endblock content -%}
{%- endembed -%}
{%- endblock body -%}
