a {
	color: inherit;
	text-decoration-color: var(--c-accent-1);
	text-decoration-thickness: var(--size-border);
	text-underline-offset:	var(--size-border);
	touch-action: manipulation;
}

:where(h1, h2, h3, h4, h5, h6) a {
	outline-offset: var(--size-border);
}

a:where(:focus-visible, :hover) {
	color: var(--c-accent-1);
	text-decoration: none;
}
