/**
 *	Layout
 */



/**
 *	Body Layout
 */


:where(body, main) > :where(header, footer), nav, menu {
	display: flex;
	flex-wrap: wrap;
	gap: 1em;
	align-items: center;
	justify-content: space-between;
}

html {
	block-size: 100%;
}

body {
	min-block-size: 100%;
	display: grid;
	gap: var(--size-variable);
	grid-template-rows: min-content 1fr min-content;
}


/**
 * Main Layout
 */
main {
	display: grid;
	align-content: space-between;
	gap: var(--size-variable);
}

main > :where(header, footer) {

}

/**
 * Navigation Layout
 */

nav li a {
	min-inline-size: var(--size-control);
	text-align: center;
	border-radius: var(--size-radius);
}

/**
 * Article Layout
 */

article, article > header {
	display: grid;
	gap: var(--size-gap);
}

article > header {
	margin-block-end: var(--size-variable);
}
