

/**
 *	Base Font Styles
 */
:root {
	font: 150%/1.6 system-ui;
	background-color: var(--c-bg-1);
	color: var(--c-fg-1);
	accent-color: var(--c-accent-1);
}

body {
	padding: var(--size-variable);
}

[aria-current] {
	outline: var(--size-border) solid var(--c-fg-0);
}

[disabled], [aria-disabled='true'] {
	color: var(--c-fg-0);
}


li[role='none'] {display: inherit}



