*,
*::after,
*::before {
    font: inherit;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --tab: 4ch;
    --gap: 1em;
    --line: max(0.2ex, 2px);
    --radius: calc( var(--line) * 2 );
    --scale: 0.75;
    --large: calc( 100% * 1 / var(--scale));
    --small: calc( 100% * var(--scale));
    --measure: 50ch;
    --leading: 1.6;
    --sans: system-ui, ui-sans-serif, sans-serif;
    --mono: ui-monospace, monospace;
}
@media (prefers-color-scheme: light) {
    :root {
        --bg-dim: hsl(0,0%,80%);
        --bg: hsl(0,0%,85%);
        --bg-bright: hsl(0,0%,95%);
        --fg-dim: hsl(0,0%,50%);
        --fg: hsl(0,0%,10%);
        --fg-bright: hsl(0,0%,0%);
        --accent: hsl(240,50%,50%);
    }
}
@media (prefers-color-scheme: dark) {
    :root {
        --bg-dim: hsl(0,0%,15%);
        --bg: hsl(0,0%,10%);
        --bg-bright: hsl(0,0%,0%);
        --fg-dim: hsl(0,0%,50%);
        --fg: hsl(0,0%,90%);
        --fg-bright: hsl(0,0%,100%);
        --accent: hsl(240,50%,75%);
    }
}
body > header,
figcaption,
figure,
footer,
menu,
nav {
    display: flex;
    gap: var(--gap);
}
:where(main, article) > header,
article,
body,
dl,
main {
    display: grid;
}
html {
    block-size: 100%;
}
::selection {
    background: var(--accent);
    color: var(--bg);
}
body {
    min-block-size: 100%;
    gap: calc( var(--tab) + var(--gap) );
    padding: clamp(var(--gap), 4vw, var(--tab));
    grid-template-rows: min-content 1fr min-content;
    background: var(--bg);
    color: var(--fg);
    accent-color: var(--accent);
    font: clamp(120%, 4vw, 150%) / var(--leading) var(--sans);
}
body > header,
footer,
menu,
nav {
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
body > header nav {
    flex-grow: 1;
    justify-content: end;
}
nav menu {
    justify-content: start;
	gap: var(--line) var(--gap);
}
nav :where(ul, ol, menu) li {
    list-style: none;
}
nav :where(ul, ol, menu) li a {
	display: inline-block;
	padding: 0.5ch 1ch;
}
main {
    align-content: space-between;
    gap: calc( var(--tab) * 2 );
}
:where(main, article) > header {
    gap: var(--tab) 0;
    margin-block-end: var(--tab);
/*    justify-content: center;*/
}
article {
    grid-template-columns: 1fr fit-content(var(--measure)) 1fr;
    gap: var(--gap) 0;
}
article:only-child {
    gap: var(--tab) 0;
}
article > :where(header, figure) {
    grid-column: 1 / -1;
}
article > *:where(:not(header, figure)) {
    grid-column: 2 / -2;
}
article > header {
    justify-items: center;
}
figure {
    justify-content: center;
    flex-wrap: wrap;
    max-inline-size: 100%;
}
figure pre {
    flex: 0 0 auto;
    max-inline-size: min(100%, 86ch);
    overflow: auto;
}
figcaption {
    flex-direction: column;
    flex: 1 1 calc( var(--measure) / 2 );
    max-inline-size: var(--measure);
}
main header p {
    font-size: var(--large);
}
p {
    hyphens: auto;
    max-inline-size: var(--measure);
}
p[role='note'],
pre {
    padding: var(--gap);
    border-radius: var(--radius);
    background: var(--bg-dim);
}
code,
var {
    font-family: var(--mono);
}
main header nav,
figcaption,
p[role='note'],
pre {
    font-size: var(--small);
}
pre ol {
    list-style: decimal-leading-zero inside;
}
pre ol ::marker {
    color: var(--fg-dim);
}
h1 {
    font-size: clamp(2em,8vw,4em);
}
h2 {
    font-size: clamp(1.5em,6vw,2.5em);
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    line-height: calc( var(--leading) * var(--scale) );
}
:any-link {
    text-underline-offset: var(--line);
    text-decoration-thickness: var(--line);
    touch-action: manipulation;
    color: var(--fg);
    text-decoration-color: var(--accent);
}
:any-link:where(:focus-visible, :hover) {
    text-decoration: none;
    color: var(--accent);
}
:any-link[aria-current] {
	text-decoration: none;
	color: var(--bg);
	background: var(--fg);
	border-radius: var(--radius);
}
