{% extends template.default %}
{%- block meta -%}
	{{ parent() }}
	<meta name='description' content=''/>
{%- endblock meta -%}
{%- block body -%}
{%- embed layout.default -%}
    {%- block content -%}
		<header>
		<h1>Hello, I&rsquo;m Adam.</h1>
		<p>
			I make web applications for small businesses.
		</p>
		<p>
			From featherweight portfolio pages to robust on-prem office tools,
			I combine time-tested technology with insightful strategy to meet
			your business needs.
		</p>
</header>
    {%- endblock content -%}
{%- endembed -%}
{%- endblock body -%}
