{% extends template.default %}
{%- block body -%}
{%- embed layout.default -%}
    {%- block content -%}
		<h1>{{ 'generic.module.count' | trans ({'count': modules | length}) | title }}</h1>
			{% if modules is not empty %}
			<dl>
				{% for module in modules %}
				<dt>{{ module.id }}</dt>
				<dd>{{ module.title }}</dd>
				{% endfor %}
			</dl>
			{% else %}
			<p>No Modules Found</p>
		{% endif %}
<pre>.class {
	color: Canvas;
}</pre>
    {%- endblock content -%}
{%- endembed -%}
{%- endblock body -%}
