{% extends template.default %}
{%- block body -%}
{%- embed layout.default -%}
    {%- block content -%}
		<h1>{{ module.title }}</h1>
		<p>{{ module.id }}</p>
    {%- endblock content -%}
{%- endembed -%}
{%- endblock body -%}
