:any-link {
	text-underline-offset: var(--root-size-border);
	text-decoration-thickness: var(--root-size-border);
	touch-action: manipulation;
}

:where(h1, h2, h3, h4, h5, h6) :any-link {
	outline-offset: var(--root-size-border);
}

:any-link:where(:focus-visible, :hover) {
	text-decoration: none;
}
