/**
 * Layout/Article
 */
article, article > header {
	display: grid;
}

article {
	grid-template-columns: 1fr fit-content(var(--measure)) 1fr;	
	gap: var(--gap) 0;
}

article:only-of-type {
	gap: var(--tab) 0;
}

article > :where(header, figure) {
	grid-column: 1 / -1;
}

article > *:where(:not(header, figure)) {
	grid-column: 2 / -2;
}

article > header {
	margin-block-end: var(--tab);
	gap: var(--tab) 0;
}
