/**
 *	Body Layout
 */
body > header, 
footer, 
nav, 
menu {
	display: flex;
	flex-wrap: wrap;
	gap: var(--size-gap);
	align-items: center;
	justify-content: space-between;
}

html {
	block-size: 100%;
}

body {
	min-block-size: 100%;
	display: grid;
	gap: calc( var(--size-variable) + var(--size-gap) );
	grid-template-rows: min-content 1fr min-content;
}
