/**
 *	Layout/Body
 */
html {
	block-size: 100%;
}

body {
	min-block-size: 100%;
	display: grid;
	gap: calc( var(--tab) + var(--gap) );
	grid-template-rows: min-content 1fr min-content;
}

body > header, 
footer {
	display: flex;
	flex-wrap: wrap;
	gap: var(--gap);
	align-items: center;
	justify-content: space-between;
}

/**
 * Gap: --gap:
 * body > header, footer, nav, menu, figure, figcaption  
 */
