/**
 * Layout/Main
 */
main {
	display: grid;
	align-content: space-between;
	gap: calc( var(--tab) * 2 );
}

main > header {
	display: grid;
	gap: var(--tab) 0;
}

:where(main,article) > header {
	margin-block-end: var(--tab);
}
body > footer {
	margin-block-start: var(--tab);
}
