<!DOCTYPE html>
<html lang='{{ app.request.locale }}'>
    <head>
		{%- block meta -%}
        <meta charset="UTF-8">
		<meta name='color-scheme' content='{{ color_scheme }}'/>
		<meta name='viewport' content='width=device-width,initial-scale=1'/>
		{%- endblock meta -%}
        <title>{% block title %}{{ 'generic.greeting' | trans }}{% endblock %}</title>
		{%- block style -%}
    	<link rel="icon" href="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
		{%- endblock style -%}
		<style>
			:root {
				font: 150%/1.6 system-ui;
				max-inline-size: 50ch;
				margin-inline: auto;
			}
		</style>
    </head>
    <body>
        {%- block body -%}{%- endblock -%}
    </body>
</html>
