{% extends template.default %}
{%- block body -%}
{%- embed layout.editor -%}
    {%- block form -%}
	{{ form_start(articleForm) }}
		<h1>Create Article</h1>
	{{ form_end(articleForm) }}
    {%- endblock form -%}
{%- endembed -%}
{%- endblock body -%}
