{% extends template.default %}
{%- block body -%}
{%- embed layout.editor -%}

	{%- block header -%}
		<h1>Create Article</h1>
	{%- endblock header -%}

    {%- block form -%}
		{{ form(articleForm) }}
    {%- endblock form -%}

{%- endembed -%}
{%- endblock body -%}
