/**
 *	General Dialog Styling
 */
dialog {
	display: flex;
	flex-wrap: wrap;
	gap: var(--size-padding) var(--size-gap);
	padding: var(--size-gap);
	justify-content: space-between;
	align-items: center;
	max-inline-size: 100%;
	background-color: var(--c-bg-0);
	color: inherit;
	border: var(--size-border) solid var(--c-bg-2);
	border-radius: var(--size-radius);
	font-size: smaller;
	/*
	background-color: var(--c-bg-1);

	--form-control-background: var(--c-bg-2);
	--form-control-background-active: var(--c-bg-1);
	*/
}

::backdrop {
	background: rgba(0,0,0,0.5);
}

dialog > header {
	font-weight: bold;
}

dialog :not(header) p {
	margin-block: var(--size-gap);
}

dialog form[method='dialog'] {
	justify-self: end;
}


/**
 *	Modal Dialog
 */
body > dialog {
	z-index: 2;
	position: fixed;
	bottom: 0;
	right: 0;
	left: auto;
	margin: 1em;
}



/**
 *	Inline Dialog
 */

main dialog {
	justify-self: center;
	position: static;
}

main dialog > header {

}
