dialog {
	background-color: var(--c-bg-0);
	color: inherit;
	border: var(--size-border) solid var(--c-bg-2);
	border-radius: var(--size-radius);
	position: fixed;
	bottom: 0;
	right: 0;
	left: auto;
	margin: 1em;
	max-inline-size: 100%;
	padding-block-end: var(--size-gap);
	gap: var(--size-gap);
}

dialog {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	z-index: 2;
	font-size: smaller;
}

::backdrop {
	background: rgba(0,0,0,0.5);
}

dialog > header {
	flex-basis: 100%;
	padding: var(--form-element-padding);
	background-color: var(--c-bg-1);
	border-block-end: var(--size-border) solid var(--c-bg-2);
	font-weight: bold;
}

dialog form[method='dialog'] {
	justify-self: end;
}

dialog > *:where(:not(header)) {
	padding-inline: var(--size-gap);
}
