:root {
	/* Line-Height */
	--type-leading-text: 1.6;
	--type-leading-title: 1.35;

	/* Font-Family */
	--type-family-text: system-ui, ui-sans-serif, sans-serif;
	--type-family-code: ui-monospace, monospace;
}

p, dt, dd, li {
	max-inline-size: 50ch;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	line-height: var(--type-leading-title);
}

h1 {
	font-size: clamp(1.5em, 8vw, 4.25em);
}
h2 {
	font-size: clamp(1.125em, var(--size-fluid), 1.5em);
}
h3 {
	font-size: clamp(1em, var(--size-fluid), 1.25em);
}

dl {
	gap: 0 var(--size-gap);
	display: grid;
	grid-template-columns: max-content 1fr;
	align-items: start;
}

dd {
	grid-column: 2 / -1;
}

code {
	font-family: var(--type-family-code);
	word-break: break-all;
}

:where(p, li) code {
	font-size: smaller;
	outline:		var(--form-element-border);
	border-radius:	var(--size-radius);
	outline-offset:	0.25ch;
	margin-inline:	0.5ch;
}

pre {
	tab-size: 4;
}

pre ol {
	padding-inline-start: calc( var(--size-tab) + var(--size-padding) );
	padding-inline-end: var(--size-padding);
}
pre ol li {
	max-inline-size: unset;
}

pre ol ::marker {
	color: var(--c-fg-1);
}

pre ol li:target {
	outline: var(--size-border) solid var(--c-accent-1);
}
pre ol li:target::marker {
	color: var(--c-accent-1);
}
