@media (prefers-color-scheme: light) {
	:root {
		/** Foreground */
		--c-fg-0: black;
		--c-fg-1: gray;
		--c-fg-2: black;
		/** Background */
		--c-bg-0: whitesmoke;
		--c-bg-1: gainsboro;
		--c-bg-2: silver;
		/** Info */
		--c-info-0: ;
		--c-info-1: green;
		--c-info-2: ;
		/** Warn */
		--c-warn-0: ;
		--c-warn-1: yellow;
		--c-warn-2: ;
		/** Error */
		--c-error-0: ;
		--c-error-1: red;
		--c-error-2: ;
		/** Accent */
		--c-accent-0: ;
		--c-accent-1: royalblue;
		--c-accent-2: ;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		/** Foreground */
		--c-fg-0: silver;
		--c-fg-1: gray;
		--c-fg-2: white;
		/** Background */
		--c-bg-0: black;
		--c-bg-1: #1b1b1b;
		--c-bg-2: darkslategray;
		/** Info */
		--c-info-0: ;
		--c-info-1: green;
		--c-info-2: ;
		/** Warn */
		--c-warn-0: ;
		--c-warn-1: yellow;
		--c-warn-2: ;
		/** Error */
		--c-error-0: ;
		--c-error-1: red;
		--c-error-2: ;
		/** Accent */
		--c-accent-0: darkslateblue;
		--c-accent-1: slateblue;
		--c-accent-2: ;
	}
}
